html {
    height: 100%;
}
body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    max-width: 100vmin;
}

textarea {
    width: 80%;
    height: 20vmin;
    font-size: 5vmin;
}

input {
    width: 80%;
    height: 5vmin;
    font-size: 5vmin;
}

button {
    margin: .5vmin .5vmin;
    align-self: center;
    background-color: #663399;
    border: none;
    color: white;
    padding: 5vmin 15vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10vmin;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    width: 80%;
    position: relative;
}

button:after {
    content: "";
    background: #9966CC;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -15vmin!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#status {
    height: 6vmin;
    font-size: 5vmin;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30vmin;
  height: 17vmin;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13vmin;
  width: 13vmin;
  left: 2vmin;
  bottom: 2vmin;
  background-color: white;
  transition: .4s;
}

.checked.slider {
  background-color: #663399;
}


.checked.slider:before {
  transform: translateX(13vmin);
}

.slider.round {
  border-radius: 17vmin;
}

.slider.round:before {
  border-radius: 50%;
}
