html {
    height: 100%;
}
body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

button {
    align-self: center;
    background-color: #663399;
    border: none;
    color: white;
    padding: 5vmin 15vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10vmin;
}
